.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container button {
  border: none;
  outline: none;
  font-weight: 100;
  border-radius: 0.8rem;
  width: 100%;
  margin: 1rem auto;
  opacity: 0.8;
}

.container button:hover {
  opacity: 1;
  cursor: pointer;
}
